.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.logoTop{
	margin: 4%;
	width: 100px
}
.barIcon{
	margin-left: 25%;
	 width: 250px
}
.homeText{
	position:absolute;
	 width: 700px ;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color:white
}

@media only screen and (max-width: 900px) {
	.barIcon{
		margin-left: 30%;
		margin-top: 55%;
		 width: 120px
	}
	.homeText{
		 width: 300px ;
		 font-size: 17px;
		top: 55%;
	}
}

@media screen and (min-device-width: 0) and (max-device-width: 376px) { 
	.barIcon{
		margin-left: 30%;
		margin-top: 55%;
		 width: 120px
	}
	.homeText{
		 width: 300px ;
		 font-size: 17px;
		top: 45%;
	}
}
